FXClient/src/META-INF/wsdl/localhost_8080/LabServiceService/LabService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.lab7.pai.adamborowski.pl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.lab7.pai.adamborowski.pl/">

<xs:element name="getProjectAssembly" type="tns:getProjectAssembly"/>

<xs:element name="getProjectAssemblyResponse" type="tns:getProjectAssemblyResponse"/>

<xs:complexType name="getProjectAssembly">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProjectAssemblyResponse">
<xs:sequence>
<xs:element name="return" type="tns:projectDetailsAssembly" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="projectDetailsAssembly">
<xs:sequence>
<xs:element name="projectData" type="tns:project" minOccurs="0"/>
<xs:element name="projectManagerData" type="tns:projectManager" minOccurs="0"/>
<xs:element name="listOfTasks" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="project">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="manager" type="tns:projectManager" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="tasks" type="tns:task" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="projectManager">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="task">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>